<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.spring.shop.mapper.ProductMapper">
  
 <!-- private int pdnum;
	private int catecode;
	private String pdname;
	private String pdcontent;
	private int pdprice;
	private int pdcnt;
	private String pdimg1;  -->

<insert id = "Product">
	insert into product (pdnum, catecode, pdname, pdcontent, pdprice, pdcnt, pdimg1)
	values(#{pdnum}, #{catecode}, #{pdname}, #{pdcontent}, #{pdprice}, #{pdcnt}, #{pdimg1})

</insert>


  </mapper>